<p id="notice"><%= notice %></p>

<h1>Listing Birds</h1>

    <% @birds.each do |bird| %>

  <div class="product">
    <div class="name">
      <p><%= bird.name %></p>
    </div>
    <div class="price">
      <p>€<%= bird.price %></p>
    </div>
    <div class="species">
        <p><%= bird.species %></p>
    </div>
    <div class="image">
        <p><%= image_tag bird.image %></p>
    </div>


  <div class="actions">
  <%= link_to 'Show', bird %>
  <%= link_to 'Edit', edit_bird_path(bird) %>
  <%= link_to 'Destroy', bird, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  </div>
    <% end %>

<br>

<%= link_to 'New Bird', new_bird_path %>
