<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bird.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bird.price %>
</p>

<p>
  <strong>Species:</strong>
  <%= @bird.species %>
</p>

<p>
  <strong>Image:</strong>
  <%= @bird.image %>
</p>

<div class="image">
    <p><%= image_tag @bird.image %></p>
</div>


<%= link_to 'Edit', edit_bird_path(@bird) %> |
<%= link_to 'New Bird', new_bird_path %> |
<%= link_to 'Back', birds_path %>
